/* Styles for mobile devices */
@media (max-width: 481px) {
    .seller-left-btn {
        display: block;
        
    }
    .logo-for-moble-size{
      display: initial;
    }
        .login-container .login-container-left {
          display: none;
        }
        .login-container-right {
            width: 100%;
            padding: 0em;
       
        }
    
        .seller-heading {
            margin-top: 4em !important;
        }
    
    .center-div {
        margin-top: 1em;
        width: 19em;
       
    }
    .login-form div {
        margin-bottom: 0em;
        
    }
    .login-form div label {
        font-size: small;
       margin-top: 0.4em;
    }
    .login-form div ul{
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .login-form div li a {
        font-size: small;
       
    }
    .login-container-right div {
        display: flex;
        flex-direction: column;
        padding: 0em 1em;
    }
    .right-btn {
      margin: 1em 2em;
      padding-left: 3.7em;
      padding-right: 0em;
      padding-top: -2.4em;
    }
     .become-seller-img {
        margin: 1em 1em !important;
        height: 16em !important;
    }
      }
    @media (min-width: 481px) and (max-width: 695px) {
        .seller-left-btn {
            display: block;
        
        }
      .logo-for-moble-size{
        display: initial;
      }
      .login-container .login-container-left {
        display: none;
      }
      .login-container-right {
          width: 100%;
          padding: 0em;
           
      }
    
    .login-container-right h3 {
      margin-top: 4em !important;

     
    }
   
    
    .login-form {
      margin-top: 1em;
     
     
    }
    .login-form div {
      margin-bottom: 0em;
      
    }
    .login-form div label {
      font-size: small;
     margin-top: 0.4em;
    }
    .login-form div ul{
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    .login-form div li a {
      font-size: small;
     
    }
    .right-btn {
    margin: 1em 5em;
    padding-left: 3.7em;
    padding-right: 0em;
    padding-top: -2.4em;
    }
    .login-container-right img {
    
    margin-top: -9em;
    margin-right: -18em;
    }
    }
      /* Styles for small tablets */
    @media (min-width: 696px) and (max-width: 767px) {
      
      .login-container .login-container-left h4 {
        font-weight: 500;
    }
    .login-form {
      width: 21em;
    
    }
    .become-seller-img {
        margin: 1em 0em !important;
        height: 19em !important;
    }
    
    .login-form div label {
        margin-top: 0.2em;
      
    }
    .right-btn {
      margin: 1em 5em;
      padding-left: 4em;
      padding-right: 0em;
     
    }
    .login-container-right img {
      margin-top: -13em;
      margin-right: -13em;
    }
      }
      /* Styles for tablets and small laptops */
    @media (min-width: 767px) and (max-width: 1023px) {
      .login-container-right img {
    
        margin-top: -13em;
        margin-right: -16em;
    }
    .right-btn {
      margin: 1em 7em;
      padding-left: 2.5em;
    
      padding-top: 0.6em;
    }
      }
      /* Styles for medium and large laptops */
    @media (min-width: 1023px) and (max-width: 1279px) {
      .login-form div label {
    
        margin-top: 0.1em;
    }
    .right-btn {
      margin: 1em 9em;
      padding-left: 3.2em;
     
    }
    .login-container-right img {
      height: 15em;
      z-index: 2;
      margin-top: -12em;
      margin-right: -20em;
    }
      }
      /* Styles for large desktops */
    @media (min-width: 1280px) {
      .login-container-right img {
        height: 15em;
        z-index: 2;
        margin-top: -10em;
        margin-right: -20em;
      }
    
      .right-btn {
        margin: 1em 9em;
        padding-left: 3em;
       
      }
      }
    
    
    